# Node
node_modules/
dist/

# Environment
.env
.env.local

# TypeScript
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Google Cloud / Firebase
google-credentials.json
firebase-debug.log
firebase-errors.log
firebase-service-account.json
serviceAccountKey.json
serviceAccount.json
.firebase/
.firebaserc
adc.json

#gcloud SDK credentials
.gcloud/
application_default_credentials.json

# Firebase config
google-services.json
firebase.json

# IDEs
.vscode/